{% extends "layout.html" %}
{% block body %}
<p class="title">
    Esercizio {{ n_exercise }}
</p>
<p class="subtitle">
    Carica il file nomerichiesto.py dell'esercizio {{ n_exercise }}.
    {% if already_uploaded != None %}
    <br />
    <b>Hai già caricato il file {{ already_uploaded }}.</b>
    {% endif %}
</p>

<div class="container is-dark">
    <form action="/exercise/{{ n_exercise }}" method="post" enctype="multipart/form-data">
        <div class="file has-name is-fullwidth" id="file-with-js">
            <label class="file-label">
                <input class="file-input" type="file" name="file">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Scegli un file…
                    </span>
                </span>
                <span class="file-name">
                    {% if already_uploaded != None %}
                    {{ already_uploaded }}
                    {% else %}
                    [nessun file selezionato]
                    {% endif %}
                </span>
            </label>
        </div>

        <div class="buttons is-centered" style="margin-top: 15px;">
            <button class="button is-inverted" type="submit" id="submit-button">
                {% if already_uploaded != None %}
                <span>Sostituisci</span>
                {% else %}
                <span>Carica</span>
                {% endif %}
            </button>
        </div>
    </form>
</div>
<script src="/static/js/upload.js"></script>

{% endblock %}